p {
    color: black;
    font-size: 16px;
}
.box-item {
    text-align: center;
    width: 400px;
    border: 3px solid #244A66;
    margin: 2px;
}
.namePL {
    font-size: 1.5rem;
}
.imgItem {
    display: block;
    width: 100%;
    height: 20vh;
}
.item-img {
    object-fit: cover; 
    background-position: center;
}
.logoItem {
    width: 20%;
    margin-top: 1px;
    margin-bottom: 10px;
    margin-left: 65%;
    opacity: 0.65;

}

.logoText{
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 65%;
    font-size: 16px;

}